body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  height: 400px;
  width: 400px;
  background-color: aqua;
  border: 1px solid black;
  position: relative;
  align-items: center;
  justify-content: center;
}

.todo {
  max-width: 400px;
  max-height: 50px;
  background-color: coral;
  border: 1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edordel {
  height: 16px;
  width: 16px;
}

.done {
  background-color: chartreuse;
}
